<%% title "<%= plural_table_name.capitalize %>", false %>

<div class="index_container">
  <div class="description">
  </div>

  <div class='index_header'>
    <span class='title'>List of <%= plural_table_name.downcase %></span>
    (<%%= link_to 'add a new <%= human_name.downcase %>', new_<%= singular_table_name %>_path %>)
  </div>

  <table class="index">
    <tr>
  <%- for attribute in attributes -%>
      <th><%= attribute.human_name %></th>
  <%- end -%>
      <th></th>
    </tr>

  <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
    <tr>
  <%- for attribute in attributes -%>
      <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
  <%- end -%>
      <td class="actions">
        <%%= link_to 'View', <%= singular_table_name %> %> |
        <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %> |
        <%%= link_to 'Delete', <%= singular_table_name %>, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <%% end %>
  </table>
</div>