<!DOCTYPE html>
<html>
<head>
  <title>The Search Operators</title>
  <%= stylesheet_link_tag 'sloppy' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= yield %>

  <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <%= javascript_include_tag 'rails' %>
  <%= yield :foot %>
</body>
</html>
